/* Reset some default browser styles */
body, h1, h2, p, ul, li, ol, form, label, input, button {
  margin: 0;
  padding: 0;
}
.heading{
  color: #f4be42;
}
/* Set a base font size and font family */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: white;
}

.gallery{
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery::-webkit-scrollbar{
  display: none;
}

.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
.gallery div img{
  width: 100%;
  filter: grayscale(100%);
  transform: transform 1.5s;
}

.gallery div img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

#backBtn, #nextBtn{
  width: 50px;
  cursor: pointer;
  margin: 40px;
}
/* General styling for the payment container */
.product-contianer {
  display: flex ; 
}

/* Styling for individual product containers */
.product-1 {
  /* background-color: #f1356d; */
  text-align: center;
  padding: 20px;
  width: 48%; /* Adjust the width as needed */
  margin: 5px;
}

/* Styling for the scrollable image container */
.image-container {
  max-width: 100%;
  max-height: 20rem;
  overflow: hidden;
  position: relative;
}

.scrollable-image {
  width: 200%; /* Double the width to accommodate two images side by side */
}

/* Styling for individual product containers */
.product-1, .product-2 {
  /* background-color: #f1356d; */
  text-align: center;
  padding: 20px;
  width: 48%; /* Adjust the width as needed */
  margin: 5px;
  position: relative;
}

.product-1 img, .product-2 img {
  background: #f26c33;
  padding: 5px;
  width: 50%;
}

/* Styling for arrow buttons */
.scroll-left, .scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #f26c33;
  color: #fff;
  border: 0;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-left {
  left: 10px;
}

.scroll-right {
  right: 10px;
}


/* Styling for labels and input fields */
label {
  text-align: center;
  /* display: block; */
  margin: 10px 0;
}

input {
  width: 25%;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  /* display: block; */
}

/* Styling for the "Pay" button */
.button {
  background: #f26c33;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

/* Additional styles for specific elements or components can be added here */
